In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from scipy import stats

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
# print("Basic Summary Statistics:")
# print(f"Count: {data.count()}")
# print(f"Mean: {data.mean()}")
# print(f"Median: {data.median()}")
# print(f"Mode: {data.mode().tolist()}")
# print(f"Min: {data.min()}")
# print(f"Max: {data.max()}")
# print (f"Range: {data.max()-data.min()}")
# print (f"Standard Deviation: {data.std()}")
# print(f"Variance: {data.var()}")
# print(f"25th Percentile (Q1): {data.quantile (0.25)}")
# print(f"50th Percentile (Q2 Median): {data.quantile(0.50)}")
# print(f"75th Percentile (Q3): {data.quantile(0.75)}")
# print(f"IQR (Q3 Q1): {data.quantile (0.75)-data.quantile(0.25)}")

In [7]:
data = sns.load_dataset('diamonds')

In [9]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [13]:
print("Basic Summary Statistics:")
print(f"Count: {data.count()}")

Basic Summary Statistics:
Count: carat      53940
cut        53940
color      53940
clarity    53940
depth      53940
table      53940
price      53940
x          53940
y          53940
z          53940
dtype: int64

In [15]:
print(f"Mean: {data['price'].mean()}")

Mean: 3932.799721913237

In [17]:
print(f"Median: {data['depth'].median()}")

Median: 61.8

In [19]:
print(f"Mode: {data['cut'].mode().tolist()}")

Mode: ['Ideal']

In [21]:
print(f"Min: {data['carat'].min()}")
print(f"Max: {data['carat'].max()}")

Min: 0.2
Max: 5.01

In [23]:
print (f"Range: {data['carat'].max()-data['carat'].min()}")

Range: 4.81

In [29]:
print (f"Standard Deviation: {data['depth'].std()}")

Standard Deviation: 1.4326213188337733

In [ ]:
print(f"Variance: {data['carat'].var()}")

Variance: 0.22468665982273753

In [39]:
print(f"25th Percentile (Q1): {data['price'].quantile (0.25)}")
print(f"50th Percentile (Q2 Median): {data['price'].quantile(0.50)}")
print(f"75th Percentile (Q3): {data['price'].quantile(0.75)}")
print(f"IQR (Q3 Q1): {data['price'].quantile (0.75)-data['price'].quantile(0.25)}")

25th Percentile (Q1): 950.0
50th Percentile (Q2 Median): 2401.0
75th Percentile (Q3): 5324.25
IQR (Q3 Q1): 4374.25

In [47]:
data['price'].count()
print("Total Price:", data['price'].sum())

Total Price: 212135217

In [53]:
print("Average Fare :",data ['price'].mean(),"$")

Average Fare : 3932.799721913237 $

In [55]:
cut_grp =data.groupby('cut')
cut_grp

C:\Users\kunal\AppData\Local\Temp\ipykernel_8392\4154076324.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cut_grp =data.groupby('cut')

In [57]:
cut_grp['price'].sum()

cut
Ideal        74513487
Premium      63221498
Very Good    48107623
Good         19275009
Fair          7017600
Name: price, dtype: int64

In [51]:
data.value_counts('color')

color
G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: count, dtype: int64

In [63]:
Premium_grp =data.groupby('cut').get_group('Premium')
print("Total of Premium :", Premium_grp['price'].sum())

Total of Premium : 63221498

C:\Users\kunal\AppData\Local\Temp\ipykernel_8392\64247046.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  Premium_grp =data.groupby('cut').get_group('Premium')

In [65]:
data['cut'].unique()

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [ ]:
data['cut'].nunique()

5